*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/captures
.externalNativeBuild
/MaterialDesignDialoglibrary/build/
/usrsimplebleassistent/build/
/build/
build/
/app/build/
/.idea/
